body {
    background-color: #493323 ;
    max-width: 100%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
}

h1 {margin: 0px;
    top: 15%;
    right: 55%;
    display: inline;     
}
div
    {
        position: relative;
    }
.top-container {
    background-color: #91684a;
    border: thick double #ece6bf;
    position: relative;
    width: 100%;
    height: 60%;
     }


.middle-container {

}
.bottom-container {

}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2; 
}

.onebean {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.capheart {
    border-radius: 50%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.beanheart {
    position: relative; 
    margin-top: 0px;
    right: 60px;
}

.beans {
    position: relative;
    right: 150px;
    bottom: 0px;}
 
.steamheart {
    position: relative;
    left: 100px;    
}

.skillp {
    clear: left;
}

hr {
    display:block;
    border:0px;
    height:40px;
    width: auto;
    background-image:url(https://images.freecreatives.com/wp-content/uploads/2016/01/Tileable-Wood-Texture.jpg)
}
.footer-link {
    color: #b6a89f ;
}
.btn {
    background: #B6A89F;
    background-image: -webkit-linear-gradient(top, #B6A89F, #493323);
    background-image: -moz-linear-gradient(top, #B6A89F, #493323);
    background-image: -ms-linear-gradient(top, #B6A89F, #493323);
    background-image: -o-linear-gradient(top, #B6A89F, #493323);
    background-image: -webkit-gradient(to bottom, #B6A89F, #493323);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    width: 185px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: double #FFFFFF 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: double #FFFFFF 5px;
    background: #493323;
    background-image: -webkit-linear-gradient(top, #493323, #B6A89F);
    background-image: -moz-linear-gradient(top, #493323, #B6A89F);
    background-image: -ms-linear-gradient(top, #493323, #B6A89F);
    background-image: -o-linear-gradient(top, #493323, #B6A89F);
    background-image: -webkit-gradient(to bottom, #493323, #B6A89F);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }